body {
  background-color: #000;
}

body.dark {
  background: url('../images/dark.png') top right no-repeat no-repeat black;
}

body.light {
  background-color: white;
}

#lightSwitch {
  cursor: pointer;
  height: 200px;
  margin-top: 100px;
}

#wallplate {
  background: url('../images/wallplate.png') top center no-repeat no-repeat;
  background-position: cover;
  height: 600px;
}
